.section-about {
	background-color: $color-grey-light;
	padding: 25rem 0;
	margin-top: -20vh;
}

.section-features {
	padding: 20rem 0;
	margin-top: -10rem;
	background-image:
		linear-gradient(to top left, rgba($color-primary-dark, 0.8), rgba($color-primary-light, 0.8)),
		url("../../img/nat-4.jpg");

	background-size: cover;
	transform: skewY(-7deg);
	background-position: top;

	&>* {
		transform: skewY(7deg);
	}
}

.section-tours {
	padding: 20rem;
	margin-top: -10rem;
	background-color: $color-grey-light;
}

.section-stories {
	background-color: $color-grey-light;
}