.container {
	max-width: 120rem;
	margin: 8rem auto;
	background-color: var(--color-grey-light-1);
	box-shadow: var(--shadow-dark);
	min-height: 50rem;
}

.header {}

.sidebar {
	display: flex;
	flex: 0 0 18%;
	background-color: var(--color-grey-dark-1);
}

.content {
	flex: 1;
	background-color: orangered;
	display: flex;
}

.hotel-view {}