@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-150px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(150px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(50px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem;
  color: #777; }

.heading-primary {
  margin-bottom: 6rem; }
  .heading-primary__text--main {
    display: block;
    font-weight: 400;
    font-size: 6rem;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1.5s; }
  .heading-primary__text--sub {
    display: block;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 1.7rem;
    animation-name: moveInRight;
    animation-duration: 1.5s; }

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  color: transparent;
  -webkit-background-clip: text;
  transition: all 0.3s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(17deg) scale(1.1);
    text-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }

.u-text-center {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-large {
  margin-bottom: 8rem; }

.u-margin-bottom-xlarge {
  margin-bottom: 10rem; }

.u-margin-top-small {
  margin-top: 1.5rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.u-margin-top-large {
  margin-top: 8rem; }

.u-margin-top-xlarge {
  margin-top: 10rem; }

.btn:link, .btn:visited {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  display: inline-block;
  transition: all 200ms;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #55c57a;
  color: #fff; }
  .btn--green::after {
    background-color: #55c57a; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: 10rem;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 400ms; }

.btn--animate {
  animation: moveInUp 0.4s 1s backwards ease-in; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  display: inline-block;
  color: #55c57a;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 0.3rem;
  transition: all 0.2s; }

.btn-text:hover {
  transform: translateY(-0.5rem);
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn-text:active {
  transform: translateY(0rem);
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.section-about {
  background-color: #F7F7F7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  margin-top: -10rem;
  background-image: linear-gradient(to top left, rgba(40, 180, 133, 0.8), rgba(126, 213, 111, 0.8)), url("../../img/nat-4.jpg");
  background-size: cover;
  transform: skewY(-7deg);
  background-position: top; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  padding: 20rem;
  margin-top: -10rem;
  background-color: #F7F7F7; }

.header {
  position: relative;
  height: 95vh;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75vh, 0% 100%);
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-position: top;
  background-size: cover; }
  .header__logo-box {
    position: absolute;
    left: 4rem;
    top: 4rem; }
  .header__logo {
    width: 6.9rem; }
  .header__text-box {
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 115rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (2 * 6rem)) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - (2 * 6rem)) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - (3 * 6rem)) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - (3 * 6rem)) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - (3 * 6rem)) / 4) + 2 * 6rem); }

.composition {
  position: relative; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    transition: all 0.2s;
    z-index: 10;
    outline-offset: 2rem;
    border-radius: 2px; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0rem;
      top: 3rem; }
    .composition__photo--p3 {
      left: 10rem;
      top: 10rem; }
    .composition__photo:hover {
      transform: scale(1.05) translateY(-0.5rem);
      z-index: 20;
      outline: 1.2rem solid #55c57a;
      box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.5); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  text-align: center;
  border-radius: 0.3rem;
  box-shadow: 1rem 0.5rem 4rem rgba(0, 0, 0, 0.2);
  transition: all 0.25s; }
  .feature-box:hover {
    transform: scale(1.03) translateY(-1.5rem);
    box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, 0.2); }
  .feature-box__icon {
    font-size: 6rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent; }

.card {
  height: 52rem;
  position: relative;
  perspective: 150rem;
  text-align: right; }
  .card__side {
    border-radius: .3rem;
    overflow: hidden;
    height: 52rem;
    position: absolute;
    width: 100%;
    transition: all 0.7s ease;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 5rem rgba(0, 0, 0, 0.2); }
    .card__side--front {
      top: 0;
      background-color: #fff; }
    .card__side--back {
      top: 0;
      transform: rotateY(-180deg); }
      .card__side--back--1 {
        background: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back--2 {
        background: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back--3 {
        background: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__image {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__image--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("../../img/nat-5.jpg"); }
    .card__image--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url("../../img/nat-6.jpg"); }
    .card__image--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("../../img/nat-7.jpg"); }
  .card__heading {
    text-transform: uppercase;
    display: inline-block;
    font-size: 2.7rem;
    font-weight: 300;
    position: absolute;
    top: 25%;
    right: 0;
    color: white;
    margin-right: 2rem; }
  .card__heading-span {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 1rem 2rem; }
    .card__heading-span--1 {
      background: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)); }
    .card__heading-span--2 {
      background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)); }
    .card__heading-span--3 {
      background: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)); }
  .card__list {
    margin-top: 3rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    padding-left: 5rem;
    padding-right: 5rem; }
    .card__list li {
      padding: 1rem;
      list-style: none;
      text-decoration: none; }
      .card__list li:not(:last-child) {
        border-bottom: 2px solid #F7F7F7; }
  .card__details {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; }
  .card__price-box {
    color: #fff; }
  .card__price-label {
    font-size: 1.6rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 200; }
