.navigation {
	&__checkbox {
		display: none;
	}

	&__button {
		position: fixed;
		top: 6rem;
		right: 6rem;
		background-color: $color-white;
		width: 7rem;
		height: 7rem;
		border-radius: 50%;
		z-index: 2000;
		cursor: pointer;
		box-shadow: 0 2rem 4rem rgba($color-black, 0.1);
		text-align: center;
	}

	&__background {
		position: fixed;
		top: 6rem;
		right: 6rem;
		width: 7rem;
		height: 7rem;
		border-radius: 50%;
		transition: all 0.7s ease-in-out;
		background: radial-gradient($color-primary-light, $color-primary-dark);
		z-index: 1000;
	}

	@include respond(tab-port) {

		&__button,
		&__background {
			top: 3rem;
			right: 3rem;
		}
	}

	&__nav {
		height: 100vh;
		width: 100vw;
		position: fixed;
		top: 0;
		left: -100%;
		transition: all 0.7s cubic-bezier(.93, 1.76, .72, .69);
		z-index: 1500;
	}

	&__list {

		list-style: none;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	&__list-item {

		font-size: 3rem;
		font-weight: 300;
		text-transform: uppercase;
		margin-bottom: 1rem;
	}

	&__link {

		&:visited,
		&:link {
			display: inline-block;

			color: $color-grey-light;
			text-decoration: none;
			background-image: linear-gradient(120deg, transparent 0% 50%, $color-white 50% 100%);
			padding: 1rem 3rem;
			background-size: 230%;
			transition: all .4s;

			span {
				margin-right: 1rem;
			}
		}

		&:hover,
		&:active {
			background-position: 100%;
			transform: translateX(1rem);
			color: $color-primary;

		}
	}

	&__checkbox:checked~&__background {

		transform: scale(80);
	}

	&__checkbox:checked~&__nav {
		left: 0;
	}

	&__icon {
		position: relative;
		margin-top: 3.5rem;

		&,
		&::after,
		&::before {
			display: inline-block;
			width: 3rem;
			background-color: $color-grey-dark-dark;
			height: 0.2rem;
		}

		&::after,
		&::before {
			transition: all 0.2s;
			content: "";
			position: absolute;
			left: 0;
		}

		&::before {
			top: -0.8rem;

		}

		&::after {
			top: 0.8rem;
		}
	}

	&__checkbox:not(:checked)~&__button:hover &__icon::before {
		top: -1rem;
	}

	&__checkbox:not(:checked)~&__button:hover &__icon::after {
		top: 1rem;
	}

	&__checkbox:checked~&__button &__icon::before {
		top: 0;
		transform: rotate(135deg);
	}

	&__checkbox:checked~&__button &__icon {
		background-color: transparent;
	}

	&__checkbox:checked~&__button &__icon::after {
		top: 0;
		transform: rotate(-135deg);
	}
}