// Colors
$color-primary-light: #7ed56f;
$color-primary: #55c57a;
$color-primary-dark: #28b485;

$color-secondary-dark:#ff7730;
$color-secondary-light: #ffb900;

$color-tertiary-dark:#5643fa;
$color-tertiary-light:#2998ff;

$color-white:#fff;
$color-grey-dark:#777;
$color-black:#000;
$color-grey-light:#F7F7F7;

// font
$font-size-default:1.6rem;

// grid 
$grid-width: 115rem;
$grid-gutter-vertival: 7rem;
$grid-gutter-horizontal: 6rem;