.form {

	//font: inherit;

	&__group:not(:last-child) {
		margin-bottom: 2rem;
	}

	&__input {
		font-size: 1.5rem;
		font-family: inherit;
		color: inherit;
		display: block;
		padding: 1.7rem 2rem;
		border: none;
		border-radius: 0.2rem;
		width: 80%;
		border-bottom: 3px solid transparent;
		transition: all 0.3s;

		@include respond(tab-port) {
			width: 80%;
		}

		&:focus {
			outline: none;
			box-shadow: 0 0.5rem 2rem rgba($color-black, 0.1);
			transition: all 0.3s;

			&:valid {
				border-bottom: 3px solid $color-primary;
			}

			&:invalid {
				border-bottom: 3px solid $color-secondary-dark;
			}
		}

		&::placeholder {
			color: $color-grey-dark-light;
		}

	}

	&__label {
		font-size: 1.2rem;
		font-weight: 700;
		margin-left: 2rem;
		margin-top: .7rem;
		display: block;
		transition: all 0.3s;
	}

	&__input:placeholder-shown+&__label {
		opacity: 0;
		transform: translateY(-4rem);
	}

	&__radio-group {
		font-size: 1.4rem;
		width: 49%;
		display: inline-block;

		@include respond(tab-port) {
			display: block;
			width: 100%;
			margin-bottom: 1.5rem;
		}

	}

	&__radio-label {
		font-size: $font-size-default;
		position: relative;
		padding-left: 4.4rem;
		cursor: pointer;
	}

	&__radio-button {
		display: inline-block;
		width: 3rem;
		height: 3rem;
		border: 0.5rem solid $color-primary;
		border-radius: 50%;
		position: absolute;
		top: -0.5rem;
		left: 0;

		&::after {
			content: "";
			display: block;
			position: absolute;
			background-color: $color-primary;
			height: 1.4rem;
			width: 1.4rem;
			border-radius: 50%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: all 0.3s;
			opacity: 0;
		}
	}

	&__radio-input {
		display: none;
	}

	&__radio-input:checked+&__radio-label &__radio-button::after {
		opacity: 1;
	}


}