.popup {
	z-index: 2000;
	background: transparent;
	backdrop-filter: brightness(70%) blur(1rem);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;

	&:target {
		opacity: 1;
		visibility: visible;
	}

	&:target &__content {
		transform: translate(-50%, -50%) scale(1);
		opacity: 1;
	}

	&__close {

		&:link,
		&:visited {
			position: absolute;
			top: 0;
			right: 0;
			text-decoration: none;
			margin: 2rem 3.5rem;
			color: $color-grey-dark;
			font-size: 3rem;
		}
	}

	&__content {
		@include absoluteCenter;
		width: 75%;
		background-color: $color-white;
		box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
		display: table;
		overflow: hidden;
		border-radius: 0.3rem;
		transition: all 0.5s 0.4s;
		opacity: 0;
		transform: translate(-50%, -50%) scale(0.5);
	}

	&__left {
		width: 33.3333333%;
		display: table-cell;
	}

	&__img {
		width: 100%;
		height: 100%;
		display: block;
	}

	&__right {
		display: table-cell;
		vertical-align: middle;
		padding: 5rem;
	}

	&__text {
		font-size: 1.4rem;
		column-count: 2;
		column-rule: 1px solid $color-grey-light-dark;
		column-gap: 4rem;
		hyphens: auto;
		padding-bottom: 4rem;
	}
}